<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dcsoup" version="0.2.0" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net461" />
  <package id="HtmlKit" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.SharePoint.Client" version="14.0.4762.1000" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="3.5.8" targetFramework="net461" />
  <package id="Toolkit.CodeBase" version="1.0.5755.26406" targetFramework="net461" />
  <package id="Toolkit.CommonResources" version="1.0.5752.28158" targetFramework="net461" />
  <package id="Toolkit.Web" version="1.0.5755.26409" targetFramework="net461" />
</packages>